.square {
  width: 5vw;
  height: 5vw;
  display: inline-block;
  border: 1px solid black;
}

img {
  width: 5vw;
  height: 5vw;
}

.title {
  margin:auto;
  background-color: chartreuse;
  border-radius: 50%;
  padding: 10px 0px; 
  margin: 0px 20%;

}

.black {
  background-color: grey;
}

.white {
  background-color: white;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}


body {
  margin: 0;
}
