.square {
  width: 5vw;
  height: 5vw;
  display: inline-block;
  border: 1px solid black;
}

#board {
  position: relative;
  height: 40vw;
  width: 40vw;
  margin: auto;
}

img {
  width: 5vw;
  height: 5vw;
  position: absolute;
/*  pointer-events: none;*/
}

.disabled {
  pointer-events: none;
}

.title {
  margin:auto;
  background-color: chartreuse;
  border-radius: 50%;
  padding: 10px 0px; 
  margin: 0px 20%;

}

.black {
  background-color: grey;
}

.white {
  background-color: white;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}


body {
  margin: 0;
}

.selected {
  border: 2px solid blue;
}