.square {
  width: 5vw;
  height: 5vw;
  display: inline-block;
  border: 1px solid black;
}

#board {
  position: relative;
  height: 40vw;
  width: 40vw;
  margin: auto;
}

#board img {
  width: 5vw;
  height: 5vw;
  position: absolute;
/*  pointer-events: none;*/
}

.disabled {
  pointer-events: none;
}

.card-body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.title {
  margin:auto;
  background-color: chartreuse;
  border-radius: 50%;
  padding: 10px 0px; 
  margin: 0px 20%;

}

.black {
  background-color: grey;
}

.white {
  background-color: white;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}


body {
  margin: 0;
}

.selected {
  border: 2px solid blue;
}

h1 {
  font-size: 3vw;
}
h2 {
  font-size: 2vw;
}
h3 {
  font-size: 1.5vw;
  font-weight: bold;
  margin-bottom: 0px;
}

#side {
  margin: 0px;
}

.hide {
  display: none;
}

.check {
  width: 100%;
  border: 2px solid red;
  border-radius: 20px;
}